<!DOCTYPE html>
<html lang="es">
<head>
    <title>Pala Store</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1 class="titulo">Pala Store: PCs a tu medida</h1>
    <div id="productos">
        <h2 class="titulo">Nuestros productos</h2>
        <ul id="lista-componentes">
            <li>Procesador Ryzen 9 7950x3d</li>
            <img src="../static/img/Ryzen 9.jpg" alt="Ryzen 9">
            <li>Placa de video Nvidia RTX 4090 24gb</li>
            <img src="../static/img/RTX 4090.jpg" alt="RTX 4090">
            <li>Motherboard Gigabyte X670E Aorus Master</li>
            <img src="../static/img/Mother X670E.jpg" alt="X670E">
        </ul>
        <button id="boton-ver-mas">Ver más</button>
    </div>
    <footer>
        <p>Mail de contacto: pala_store_clientes@example.com</p>
        <p>Pala Store 2024</p>
    </footer>
</body>
</html>