<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <h1 id="titulo">Ejercicio</h1>
    <p class="alerta">Crear una página Web usando Flask que contenga 2 campos de texto y un botón. El botón debe ser rojo con letra blanca. </p>
    <p class="alerta">Al pulsar dicho botón se deberá mostrar una alerta por pantalla que muestre la concatenación de las cadenas que se ingresen en los campos de texto.</p>
    <button class="boton">Crear alerta</button>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>