body, button {
    font-family: Cambria;
    background-color: #323232;
}
.titulo {
    margin-bottom: 1.5em;
    color: violet;
}
#productos, footer {
    text-align: center;
}
li {
    list-style-type: none;
    margin-bottom: 2vh;
}
#boton-ver-mas {
    font-size: 16px;
    border-radius: 10px;
    width: 75px;
    height: 30px;
    margin-top: 4vh;
}
footer {
    margin-top: 30px;
    border-top: gray 2px solid;
    color: gray
}
button:hover {
    cursor: pointer;
}
#productos, button {
    color: rgb(245, 64, 121);
}
img {
    width: 150px;
    height: 150px;
}